{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <section class="container">
    test
  </section>
  <section class="container arguments">
    <h2 class="arguments__header">Un seul produit pour gérer tous les aspects de la vie d’un projet</h2>
    <p class="arguments__text">Toutes les verticales de la vie de votre projet sont liées avec Frida, gagnez ainsi un temps considérable.</p>
    <hr class="separator">
    <div class="card">
      <h3 class="card__title">De la création d'un devis</h3>
      <p class="card__text">Créez un devis personnalisable et signable électroniquement.</p>
    </div>
    <img src="images/"
  </section>
  <footer class="footer">

  </footer>
{% endblock %}


