{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <section class="intro">
    <div class="wrap">
      <div class="intro-bg"></div>      
      <nav class="nav">
        <div class="nav__start">
          <div class="nav__logo">
            <img src="images/logo.png" alt="">
          </div>
          <div class="nav__links light-text">
            <a href="" class="nav__link-item">Fonctionnalités</a>
            <a href="" class="nav__link-item">Avantages</a>
            <a href="" class="nav__link-item">Version bêta</a>
          </div>
        </div>
        <div class="nav__login">
          <a class="nav__cta cta" href="">
            <span><img src="images/icons/arrow-right.png" alt=""></span>
            Se connecter
          </a>
          <p>Membres bêta uniquement</p>
        </div>
      </nav>
      <div class="intro-content">
        <div class="intro-description">
          <h1></h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

