.cta {
  padding: 12px 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background: $yellow;
  border:none;

  span {
    margin-right: 12px;
  }
}

.nav__cta {
  background-color: $blue;
}