// @include breakpoint(small) {
//     // blabla
// }

@mixin breakpoint($class) {
  @if $class == xsmall {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == small {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == medium {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == large {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xsmall (max:767px), small (min:768px), medium (min:992px) and large (min:1200px)";
  }
}

.hidden-xs {
  @include breakpoint(xsmall) {
    display: none!important;
  } 
}

.visible-xs {
  display: block;
  @include breakpoint(small) {
    display: none!important;
  } 
}