body, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $grey;
}

h1, h2, h3 {
  color: $header-color;
  font-weight:400;
}

h1 {
  font-size:1.3rem;
  @include breakpoint(small){
    font-size:2rem;
  }
}
h2 {
  font-size:1.2rem;
  @include breakpoint(small){
    font-size:1.5rem;
  }
}
h3 {
  font-size:1.1rem;
  @include breakpoint(small){
    font-size:1.2rem;
  }
}

.nav__link-item {
  transition: color 300ms ease-in-out;

  &:hover {
    color: $darkgrey;
  }
}

.light-text {
  font-weight: 300;
}

.cta {
  font-size: 14px;
  font-weight: 500;
}

.nav__login p {
  color: #B6CADE;
  font-size: 12px;
}

.intro-description__title {
  font-size: 26px;
  @include breakpoint(medium) {
    font-size: 34px;
  }
}

.intro-description__text {
  color: $grey;
  line-height: 27px;
} 