// yellow
$yellow: #F8BC21;
// red
$red: #E63971;
// blue
$blue: #00B1FF;
// dark grey
$darkgrey: #172434;
// grey
$grey: #758DA6;
// light grey
$lightgrey: #FCFDFE;
// light blue
$light-blue: #EAF1F8;


$text-color: $grey;
$background-color: $lightgrey;
$header-color: $darkgrey;
$shadow-color: $light-blue;
$accent-color: $yellow;
$secondary-accent-color: $blue;
