// yellow
$yellow: #F8BC21;
// blue
$blue: #00B1FF;
// dark grey
$darkgrey: #172434;
// grey
$grey: #758DA6;
// light blue
$light-blue: #EAF1F8;

$text-color: $grey;
$header-color: $darkgrey;
$shadow-color: $light-blue;
$accent-color: $yellow;
$secondary-accent-color: $blue;