<section class="intro">
  <div class="wrap">
    <div class="intro-bg intro-bg--light"></div>
    <nav class="nav hidden-xs">
      <div class="nav__start">
        <div class="nav__logo">
          <a href="/">
            <img src="images/logo.png" alt="">
          </a>
        </div>
        <div class="nav__links light-text">
          <a href="/#features" class="nav__link-item">Fonctionnalités</a>
          <a href="/#perks" class="nav__link-item">Avantages</a>
          <a href="/#beta" class="nav__link-item">Version bêta</a>
          <a href="/tarifs.html" class="nav__link-item">Tarifs</a>
        </div>
      </div>
      <div class="nav__login">
        <a class="nav__cta cta" href="https://app.frida-app.fr/login" target="_blank">
          <span>
            <img src="images/icons/arrow-right.png" alt="">
          </span>
          Se connecter
        </a>
        <p>Membres bêta uniquement</p>
      </div>
    </nav>
    <nav class="nav visible-xs">
      <div class="nav__start">
        <div class="nav__logo">
          <a href="/">
            <img src="images/logo.png" alt="">
          </a>
        </div>
        <div class="burger-wrap">
          <div class="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="mobileMenu">
        <div class="nav__links light-text">
          <a href="/#features" class="nav__link-item">Fonctionnalités</a>
          <a href="/#perks" class="nav__link-item">Avantages</a>
          <a href="/#beta" class="nav__link-item">Version bêta</a>
          <a href="/tarifs.html" class="nav__link-item">Tarifs</a>
        </div>
        <div class="nav__login">
          <a class="nav__cta cta" href="https://app.frida-app.fr/login">
            <span>
              <img src="images/icons/arrow-right.png" alt="">
            </span>
            Se connecter
          </a>
          <p>Membres bêta uniquement</p>
        </div>
      </div>
    </nav>
    <div class="intro-content intro-content--pricing">
      <div class="intro-description hidden-xs">
        <h1 class="intro-description__title">
          <strong>Gagnez</strong> du temps
          <br> et de l’argent.
        </h1>
        <p class="intro-description__text">
          Gérez au mieux votre activité afin de
          <br />gagner du temps et augmenter votre
          <br /> chiffre d'affaires.
        </p>
      </div>
      <div class="intro-description visible-xs">
        <h1 class="intro-description__title">
          <strong>Gagnez</strong> du temps
          <br> et de l’argent.
        </h1>
        <p class="intro-description__text">
          Gérez au mieux votre activité afin de gagner du temps et augmenter votre chiffre d'affaires.
        </p>
      </div>
      <div class="intro-pricings">
        <div class="pricing">
          <h2 class="pricing-title">Frida
            <b>Plus</b>
          </h2>
          <ul class="pricing-list">
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Clients
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Contrats
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Projets
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Devis
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Factures
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>CA facturé
                <b>illimité</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>
                <b>Support clientèle</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>
                <b>Relance de paiements</b>
              </span>
            </li>
          </ul>
          <div class="pricing-footer">25€
            <sub>/mois</sub>
            <div class="pricing-footer__annual">ou 250€
              <sub>/an</sub> (soit une économie de 50€)
            </div>
          </div>
        </div>
        <div class="pricing pricing--start">
          <h2 class="pricing-title">Frida
            <b>Start</b>
          </h2>
          <ul class="pricing-list">
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Clients
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Contrats
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Projets
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Devis
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>Factures
                <b>illimités</b>
              </span>
            </li>
            <li class="pricing-list__item">
              {{ sprite('checkmark') }}
              <span>CA facturé :
                <b>5 000€ HT</b>
              </span>
            </li>
            <li class="pricing-list__item pricing-list__item--not">
              {{ sprite('cross') }}
              <span>
                Support clientèle
              </span>
            </li>
            <li class="pricing-list__item pricing-list__item--not">
              {{ sprite('cross') }}
              <span>
                Relance de paiements
              </span>
            </li>
          </ul>
          <div class="pricing-footer">
            <sub>Gratuit</sub>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
