.intro {

  @include breakpoint(small) {
    height: 100vh;
    padding-top: 30px;
  }
}

.intro-bg {
  position: absolute;
  background: #172434;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 72%;
  z-index: -10;
  @media (min-width: 1500px) {
    left: 69%;
  }
  @include breakpoint(xsmall) {
    display: none;
  }
}

.intro-content {
  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
  }
}

.intro-description {
  @include breakpoint(large) {
    display: inline-block;
    margin-top: 20vh;
    width: 480px;
  }
}

.intro-description__title {
  margin-bottom: 30px;  
  @include breakpoint(medium) {
    margin-bottom: 50px;
  }
}

.intro-description__text {
  margin-bottom: 25px;  
  @include breakpoint(medium) {
    margin-bottom: 45px;
  }
}

.intro-mockup {
  display: block;
  margin: 60px auto 0px;
  width: 260px;
  animation: floating 1.5s ease-in-out infinite;
  @include breakpoint(medium) {
    display: inline-block;
    width: 500px;
    margin: 10vh auto 0;
  }
}

@keyframes floating {
  0% { transform:translateY(0px); }
  50% { transform:translateY(7px); }
  100% { transform:translateY(0px); }
}